<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <hibernate-configuration configSource="NHibernate.config"/>
  <appSettings file="customSettings.config">

    <add key="ApplicationId" value="46ef2e1e-cc93-4641-8b36-62d0a31c43ac"/>
    <add key="UserName" value="raimondas"/>
    <add key="Password" value="Rr123456"/>

    <add key="maxLogFileSizeInMB" value="200"/>

    <!-- Email settings -->
    <!--<add key ="from_email_address" value=""/>
    <add key ="to_email_address" value=""/>-->

    <!-- Email credentials from which email will be sent -->
    <!--<add key ="EmailLogin" value=""/>
    <add key ="EmailPassword" value=""/>-->
  </appSettings>

  <log4net>
    <appender name="DebugSQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="DebugSQL"/>
    </logger>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MarketInfoAPI" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="TradingServiceHttp" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.prp1-ezfx.com/API/MarketInfoService.svc"
          binding="basicHttpBinding" bindingConfiguration="MarketInfoAPI"
          contract="MarketInfoService.IEasyForexMarketInfoService" name="MarketInfoAPI" />
      <endpoint address="https://api.prp1-ezfx.com/API/TradingService.svc"
          binding="basicHttpBinding" bindingConfiguration="TradingServiceHttp"
          contract="TradingService.IEasyForexTradingService" name="TradingServiceHttp" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
